body {
  margin: 0;
  padding: 0;
  font-family: 'Yantramanav', sans-serif;
  font-weight: 300;
  background-image: url("/backgroundImage2.jpg");
  color: white;
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

html, body {
  min-height: 100%;
}

.RecipeCard {
	text-align: center;
	width: 40%;
	/*margin: 0 30%;*/
	padding: 3% 0;
	background-color:rgba(255,255,255, 0.9);
	-webkit-box-shadow: -20px 17px 36px 0px rgba(173,173,173,0.52);
	-moz-box-shadow: -20px 17px 36px 0px rgba(173,173,173,0.52);
	box-shadow: -20px 17px 36px 0px rgba(173,173,173,0.52);
	margin: 2%;
	color: gray;
	padding: 1%;
	width: 27%;
	align-items: flex-start;

}

.RecipeTitle {
	padding-bottom: 5%;
	font-size: 1.5rem;
	font-weight: 400;
	font-family: 'Yantramanav', sans-serif;
	height: 7%;
}

.RecipeTitle a {
	text-decoration: none;
	color: gray;
}

.RecipeTitle:hover {
	cursor: pointer;
}

.RecipeList img {
	margin-left: -1%;
	margin-top: 5%;
}

.Ingredients li {
	list-style-type: none;
	margin-bottom: 2%;
}

.Ingredients {
	text-align: left;
	margin-left: 5%;
	margin-top: 5%;
	font-weight: 300;
}


.RecipesBackground {
	background-image: url("/backgroundImage2.jpg");
	background-size: auto;
  	background-position: center;
  	background-repeat: no-repeat;
}

.FlexContainer {
	display: flex;
	justify-content: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.StressForm {
  text-align: center;
  width: 75%;
  margin: 0 auto;
  padding: 5%;
  margin-top: 6%;
  background-color: rgba(0,0,0,0.2);
}

.StressLevelIcon {
  display: inline-block;
  background: none;
  font-size: 50px;
  border: none;
}


.StressIcon {
	list-style-type: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: space-evenly;
  justify-content: center;

}

.StressLevelIcon:hover {
	cursor: pointer;
	outline: none;
}


.Cool {
	width: 90px;
}

.Welcome {
	font-weight: 100;
	font-size: 5rem;
}

ul {
	margin-left: -2%;
}

.RecipeListTitle {
	text-align: center;
	font-weight: 200;
	font-size: 3rem;
	margin-bottom: -1%;
}

.RecipeTitleP {
	text-align: center;
	font-weight: 300;
	font-size: 2rem;
	margin-top: 0;
	color: white;
}

.Submit{
  padding: 1% 4%;
  background-color: rgba(50, 158, 168, .8);
  margin: auto 41%;
  color: white;
  font-family: 'Yantramanav', sans-serif;
  font-weight: 400;
  margin-top: 3%;
  font-size: 0.9rem;
  outline: none;
  border: none;

}

.Submit:hover {
	cursor: pointer;
	background-color: rgba(50, 158, 168, .2);
}

.DietaryPref{
  background-color: rgba(0,0,0,0.2);
  width: 88%;
  align-content: center;
  text-align: center;
  margin: auto;
  margin-top: 6%;
  padding-bottom: 10%;

}

.TITLE {
	text-align: center;
	font-size: 4rem;
	font-weight: 200;
  	margin-top: 40px;
}

.BuyGuide {
	text-align: center;
	display: flex;
	justify-content: space-evenly;
	margin-left: -10%;
}

.StressLevelIcon:hover {
	animation: bounce 1s;
	cursor: pointer;
}

.StressIcon {
  display: flex;
  justify-content: space-evenly;

}

.iconGrouping {
	display: flex;
	flex-direction: column;
  	justify-content: center;
}

.iconGrouping:hover {
	color: #D3D3D3;
	cursor: pointer;
}

.iconGrouping i {
	font-size: 7rem;
	padding-top: 3%;
}

.iconGrouping p {
	font-size: 3rem;
	color: white;
	font-weight: 400;
	font-family: 'Yantramanav', sans-serif;
}

.CookOrBuy {
	background-color: rgba(0,0,0,0.2);
	margin: 7% 7%;
}

.restaurantsBackground .TITLE {
	margin-bottom: 0;
}

.stressInline {
	font-weight: 600;
	color: white;
}

.RestaurantAddress {
	margin-top: 3%;
}

.recipesBackground .TITLE {
	margin-bottom: 0;
}

.flex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-left: 14%;

}

.flex-item {
	width: 33%;
	align-items: left;
	text-align: left;
}

/*mobile view*/
@media only screen and (min-width: 320px) and (max-width: 410px) {
	.FlexContainer {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.RecipeCard {
		text-align: center;
		width: 82% !important;
		padding: 3% 0;
		background-color:rgba(255,255,255, 0.9);
		-webkit-box-shadow: -20px 17px 36px 0px rgba(173,173,173,0.52);
		-moz-box-shadow: -20px 17px 36px 0px rgba(173,173,173,0.52);
		box-shadow: -20px 17px 36px 0px rgba(173,173,173,0.52);
		margin: 2%;
		color: gray;
		padding: 1%;
		align-items: flex-start;
		margin-left: -0.5px;
	}

	.RecipeTitle {
		padding-bottom: 5%;
		font-size: 1.5rem;
		font-weight: 400;
		font-family: 'Yantramanav', sans-serif;
		height: 7%;
	}

	.RecipeTitle a {
		text-decoration: none;
		color: gray;
	}

	.RecipeImage {
		width: 90%;
	}

	.Ingredients li {
		list-style-type: none;
		margin-bottom: 2%;
	}

	.Ingredients {
		text-align: left;
		margin-left: 5%;
		margin-top: 5%;
		font-weight: 300;
	}


	.RecipesBackground {
		background-image: url("/backgroundImage2.jpg");
		background-size: auto;
	  	background-position: center;
	  	background-repeat: no-repeat;
	}

	.recipesBackground .TITLE {
		margin-bottom: 0;
		color: gray;
		font-weight: 400;
	}

	.RecipeListTitle {
		font-size: 2rem;
	}

	.RecipeTitleP {
		font-size: 1.6rem;
		margin: 2% 10%;
		font-weight: 100;
		color: gray;
		font-weight: 300;
	}

	.stressInline {
		font-weight: 600;
		color: gray;
	}

	.StressForm {
		text-align: center;
		width: 75%;
		margin: 0 auto;
		padding: 5%;
		margin-top: 15%;
	}

	.Welcome {
		font-size: 2rem;
	}

	.StressLevelIcon {
		display: inline-block;
		background: none;
		font-size: 50px;
		border: none;
		outline: none;
	}

	.Submit{
	    width:100% !important;
	    padding: 10px;
	    background-color: rgba(50, 158, 168, .8);
	    z-index: 2;
	    margin-left: -34%;
	}
	h2{
	    text-align: center;

	}
	.Row1{
	    display: flex;
	    justify-content: space-around;
	    flex-direction: column;
	    justify-content: center;
	}
	.Row2{
	    display: flex;
	    flex-direction: column;
	    justify-content: center;
	}
	  .dietpref{
	    display: flex;
	    flex-direction: row;
	  }

	  .Cool {
	  	width: 70px;
	    justify-content: center;
	    padding-bottom: 10px;
	  }

	  .StressIcon {
	    display: flex;
	    flex-direction: column;
	    padding: 10px;
	    justify-content: space-between;
	    }

	    ul {
			margin-left: -11%;
		}

		.DietaryPref {
			background-color: rgba(0,0,0,0.2) !important;
			width: 75% !important;
			margin-left: 12.5% !important;
			margin-top: 20% !important;
		}

		.DietaryPref h2, .TITLE {
			font-size: 2rem;
			font-weight: 200;
		}

		.dietpref label {
			font-size: 1.7rem;
		}

		.Row1 {
			padding-bottom: 0 !important;
		}

		.Row2 {
			padding-top: 0 !important;
		}

		.Submit {
			margin: auto;
			border: none;
			outline: none;
			margin-top: 14%;
		}

		.BuyGuide {
			display: flex;
			flex-direction: column;
		}

		.iconGrouping {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin: auto;
			padding: 7% 2%;
		}

		.iconGrouping i {
			font-size: 3rem;
		}

		.iconGrouping p {
			color: white;
			font-size: 1rem;
			margin-top: 5%;
			font-family: 'Yantramanav', sans-serif;
  			font-weight: 500;
		}

		.CookOrBuy .Title {
			margin-left: 2%;
			margin-right: 2%;
		}

		.CookOrBuy {
			background-color: rgba(0,0,0,0.2);
    		margin: 0% 8%;
    		margin-top: 15%;
    		padding-bottom: 30%;
		}

		.GettingData {
			text-align: center;
			font-size: 1.2rem;
		}


		.flex-container {
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;

		}

		.flex-item {
			width: 100%;
			align-items: left;
		}
} /*end of mobile*/




@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}

/*iphone 6 view*/
@media only screen and (min-width: 375px) and (max-width: 411px) {
	.StressForm {
		padding-bottom: 26%;
	}

	.CookOrBuy {
		padding-bottom: 15%;
	}

	.StressIcon {
		margin-left: -3%;
	}

	.recipesBackground .TITLE {
		margin-bottom: 0;
		color: gray;
		font-weight: 400;
	}

	.RecipeTitleP {
		color: gray;
		font-weight: 300;
	}

	.TITLE {
		padding-top: 3%;
		margin: 1%;
	}

	.iconGrouping i {
		font-size: 5rem;
	}

	.iconGrouping p {
		font-size: 1.5rem;
	}

	.Submit {
		margin-top: 57%;
		font-size: 1.3rem;
		font-family: 'Yantramanav', sans-serif;
		font-weight: 400;
	}

	.RecipeCard {
		margin-left: 2%;
	}

	.DietaryPref {
		padding-bottom: 0;
	}

	.flex-container {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		margin-left: 0;
		margin-top: 5%;
	}

	.flex-item {
		width: 100%;
		align-items: left;
	}

	.stressInline {
		font-weight: 600;
		color: gray;
	}

}

/*iphone6 plus view*/
@media only screen and (min-width: 411px) and (max-width: 480px) {
	.StressForm {
		padding-bottom: 17%;
	}

	.Welcome {
		font-size: 3rem;
	}

	.TITLE {
		font-size: 3rem;
	}

	.StressIcon {
		display: flex;
		flex-direction: column;
		margin-left: -15%;
	}

	.StressLevelIcon {
		padding-bottom: 8%;
	}

	.iconGrouping p {
		margin: 0;
		font-size: 2rem;
	}

	.iconGrouping {
		padding-bottom: 10%;
	}

	.BuyGuide {
		display: flex;
		flex-direction: column;
	}

	.CookOrBuy {
		padding-bottom: 19%;
	}

	.Row1, .Row2 {
		display: flex;
		flex-direction: column;
		text-align: left;
		margin-bottom: 0;
		padding-top: 0;
	}

	.Row2 {
		padding-top: 0 !important;
		margin-top: 0%;
		margin-left: -0.1%;
	}

	.BothRows label {
		font-size: 2rem;
	}

	.DietaryPref .TITLE {
		padding: 0.5%;
	}

	.BothRows {
		margin-left: 6%;
	}

	.DietaryPref {
		padding-bottom: 0;
	}

	.Submit {
		font-size: 1.5rem;
		padding: 2% 10%;
		width: 100%;
		margin: 16% 0 0 0;
	}

	.RecipeList {
		display: flex;
		flex-direction: column;
	}

	.RecipeCard {
		width: 88%;
	}

	.RecipeTitleP {
		font-size: 1.6rem;
		margin: 2% 10%;
		font-weight: 100;
		color: gray;
		font-weight: 300;
	}

	.stressInline {
		font-weight: 600;
		color: gray;
	}

	.recipesBackground .TITLE {
		margin-bottom: 0;
		color: gray;
		font-weight: 400;
	}

	.flex-container {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		margin-left: 0;
		margin-top: 5%;
	}

	.flex-item {
		width: 100%;
		align-items: left;
	}

}

/*ipad and tablet view*/
@media only screen and (min-width: 768px) and (max-width: 992px) {
	.FlexContainer {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.RecipeCard {
		width: 56%;
		text-align: center;
		margin: 2%;
	}

	.Ingredients {
		text-align: left;
		padding-left: 19%;
	}

	.Row1{
	  display: flex;
	  justify-content: space-around;
	  flex-direction: column;
	  justify-content: center;
    padding-right: 20px;

	}

	.Row2{
	  display: flex;
	  justify-content: space-around;
	  flex-direction: column;
	  justify-content: center;

	}

	h2{
	  text-align: center;


	}

	.Cool {
	  width: 24%;
	  justify-content: center;
	  padding-bottom: 10px;
	}

	.StressForm {
		padding-bottom: 15%;
		height: 100%;
	}

	.StressIcon {
		flex-direction: column;
	}

	.RecipeTitleP {
		color: gray;
		font-weight: 300;
	}

	.recipesBackground .TITLE {
		color: gray;
		font-weight: 400;
	}

	.stressInline {
		color: gray;
	}

  .dietpref {
    display: flex;
    flex-direction: row;
    padding: 46px;
    /*font-size: 2.5rem !important;*/
  }
.BothRows{
  display: flex;
  justify-content: center;

}
.Submit {
  padding-left: 130px;
  padding-right: 130px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 162px;
 font-size: 1.5rem;
 margin-top: 47px;
}
input[type=checkbox], label {
	font-size: 2rem !important;

}
.DietaryPref{
  margin-top: 10%;
  margin-left: auto;

}

.flex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-left: 10%;
	margin-top: 5%;
}

.flex-item {
	width: 50%;
	align-items: left;
}

} /*end of tablet view*/

@media only screen and (min-width: 1024px) and (max-width: 1225px) {
	.RecipeTitleP {
		color: gray;
		font-weight: 300;
	}

	.recipesBackground .TITLE {
		color: gray;
		font-weight: 400;
	}

	.stressInline {
		color: gray;
	}	
}

.Row2{
  display: flex;
  justify-content: space-around;
  padding-top: 10px;


}

input[type=checkbox], label {
	font-size: 1.5rem;

}

label:hover, input[type=checkbox]:hover {
	cursor: pointer;
}

.RecipeLink a {
	text-decoration: none;
	font-weight: 400;
	color: black;
	margin-top: 4%;
}

.RecipeLink:hover {
	cursor: mouse;
	color: #D3D3D3;
}

.sk-folding-cube {
 margin: 20px auto;
 width: 75px;
 height: 75px;
 position: relative;
 -webkit-transform: rotateZ(45deg);
         transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
 float: left;
 width: 50%;
 height: 50%;
 position: relative;
 -webkit-transform: scale(1.1);
     -ms-transform: scale(1.1);
         transform: scale(1.1);
}
.sk-folding-cube .sk-cube:before {
 content: '';
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background-color: rgba(50, 158, 168, .8);
 -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
         animation: sk-foldCubeAngle 2.4s infinite linear both;
 -webkit-transform-origin: 100% 100%;
     -ms-transform-origin: 100% 100%;
         transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
 -webkit-transform: scale(1.1) rotateZ(90deg);
         transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
 -webkit-transform: scale(1.1) rotateZ(180deg);
         transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
 -webkit-transform: scale(1.1) rotateZ(270deg);
         transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
 -webkit-animation-delay: 0.3s;
         animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
 -webkit-animation-delay: 0.6s;
         animation-delay: 0.6s;
}
.sk-folding-cube .sk-cube4:before {
 -webkit-animation-delay: 0.9s;
         animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
 0%, 10% {
   -webkit-transform: perspective(140px) rotateX(-180deg);
           transform: perspective(140px) rotateX(-180deg);
   opacity: 0;
 } 25%, 75% {
   -webkit-transform: perspective(140px) rotateX(0deg);
           transform: perspective(140px) rotateX(0deg);
   opacity: 1;
 } 90%, 100% {
   -webkit-transform: perspective(140px) rotateY(180deg);
           transform: perspective(140px) rotateY(180deg);
   opacity: 0;
 }
}

@keyframes sk-foldCubeAngle {
 0%, 10% {
   -webkit-transform: perspective(140px) rotateX(-180deg);
           transform: perspective(140px) rotateX(-180deg);
   opacity: 0;
 } 25%, 75% {
   -webkit-transform: perspective(140px) rotateX(0deg);
           transform: perspective(140px) rotateX(0deg);
   opacity: 1;
 } 90%, 100% {
   -webkit-transform: perspective(140px) rotateY(180deg);
           transform: perspective(140px) rotateY(180deg);
   opacity: 0;
 }
}
.LoadingSquare{
  margin-top: 25%;
}
.Loading{
  margin-left: 50%;
}
