body {
  margin: 0;
  padding: 0;
  font-family: 'Yantramanav', sans-serif;
  font-weight: 300;
  background-image: url("/backgroundImage2.jpg");
  color: white;
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
}

html, body {
  min-height: 100%;
}

.RecipeCard {
	text-align: center;
	width: 40%;
	/*margin: 0 30%;*/
	padding: 3% 0;
	background-color:rgba(255,255,255, 0.9);
	-webkit-box-shadow: -20px 17px 36px 0px rgba(173,173,173,0.52);
	-moz-box-shadow: -20px 17px 36px 0px rgba(173,173,173,0.52);
	box-shadow: -20px 17px 36px 0px rgba(173,173,173,0.52);
	margin: 2%;
	color: gray;
	padding: 1%;
	width: 27%;
	align-items: flex-start;

}

.RecipeTitle {
	padding-bottom: 5%;
	font-size: 1.5rem;
	font-weight: 400;
	font-family: 'Yantramanav', sans-serif;
	height: 7%;
}

.Ingredients li {
	list-style-type: none;
	margin-bottom: 2%;
}

.Ingredients {
	text-align: left;
	margin-left: 5%;
	margin-top: 5%;
	font-weight: 300;
}


.RecipesBackground {
	background-image: url("/backgroundImage2.jpg");
	background-size: auto;
  	background-position: center;
  	background-repeat: no-repeat;
}

.FlexContainer {
	display: flex;
	justify-content: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.DietaryPref {
display: flex;
justify-content: center;


}
.StressForm {
  text-align: center;
  width: 75%;
  margin: 0 auto;
  padding: 5%;
  margin-top: 15%;
}

.StressLevelIcon {
  display: inline-block;
  background: none;
  font-size: 50px;
  border: none;
}


.StressIcon {
	list-style-type: none;
}

.StressLevelIcon:hover {
	cursor: pointer;
}


.Cool {
	width: 40px;
}


.Welcome {
	font-weight: 100;
	font-size: 3rem;
}

ul {
	margin-left: -2%;
}

.RecipeListTitle {
	text-align: center;
	font-weight: 200;
	font-size: 3rem;
	margin-bottom: -1%;
}

.RecipeTitleP {
	text-align: center;
	font-weight: 200;
	font-size: 1.2rem;
}

/*mobile view*/
@media only screen and (min-width: 320px) and (max-width: 480px) {
	.FlexContainer {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.RecipeCard {
		text-align: center;
		width: 40%;
		/*margin: 0 30%;*/
		padding: 3% 0;
		background-color:rgba(255,255,255, 0.9);
		-webkit-box-shadow: -20px 17px 36px 0px rgba(173,173,173,0.52);
		-moz-box-shadow: -20px 17px 36px 0px rgba(173,173,173,0.52);
		box-shadow: -20px 17px 36px 0px rgba(173,173,173,0.52);
		margin: 2%;
		color: gray;
		padding: 1%;
		width: 100%;
		align-items: flex-start;
	}

	.RecipeTitle {
		padding-bottom: 5%;
		font-size: 1.5rem;
		font-weight: 400;
		font-family: 'Yantramanav', sans-serif;
		height: 7%;
	}

	.RecipeImage {
		width: 90%;
	}

	.Ingredients li {
		list-style-type: none;
		margin-bottom: 2%;
	}

	.Ingredients {
		text-align: left;
		margin-left: 5%;
		margin-top: 5%;
		font-weight: 300;
	}


	.RecipesBackground {
		background-image: url("/backgroundImage2.jpg");
		background-size: auto;
	  	background-position: center;
	  	background-repeat: no-repeat;
	}


	.StressForm {
		text-align: center;
		width: 75%;
		margin: 0 auto;
		padding: 5%;
		margin-top: 15%;
	}

	.StressLevelIcon {
		display: inline-block;
		background: none;
		font-size: 50px;
		border: none;
	}
  .DietaryPref {
  display: flex;
  flex-direction: column;
  justify-content: center;

  }
  .DietaryPref input[type=checkbox]{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .Submit{
    width:100%;
    padding: 10px;
    background-color: rgba(50, 158, 168, .8);
    z-index: 2;
  }
  h2{
    text-align: center;

  }
  .Row1{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    justify-content: center;
  }
  .Row2{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    justify-content: center;
  }
  .dietpref{
    display: flex;
  }

  .Cool {
  	width: 70px;
    justify-content: center;
    padding-bottom: 10px;
  }

  .StressIcon {
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: space-between;
    }

    ul {
		margin-left: -11%;
	}
}


@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}

.StressLevelIcon:hover {
	animation: bounce 1s;
}

.StressIcon {
  display: flex;
  justify-content: space-evenly;

}
/*ipad and tablet view*/
@media only screen and (min-width: 768px) and (max-width: 992px) {
	.FlexContainer {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.RecipeCard {
	text-align: center;
	width: 80%;
	/*margin: 0 30%;*/
	padding: 3% 0;
	background-color: #66b1d6;
	-webkit-box-shadow: -20px 17px 36px 0px rgba(173,173,173,0.52);
	-moz-box-shadow: -20px 17px 36px 0px rgba(173,173,173,0.52);
	box-shadow: -20px 17px 36px 0px rgba(173,173,173,0.52);
	margin: 2%;
}
.DietaryPref {
display: flex;
flex-direction: column;
justify-content: center;

}
.DietaryPref input[type=checkbox]{
  display: flex;
  flex-direction: column;

}
.DietaryPref {
display: flex;
flex-direction: column;
justify-content: center;

}
.DietaryPref input[type=checkbox]{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Submit{
  width:100%;
  padding: 10px;
  background-color: rgba(50, 158, 168, .8);
  z-index: 2;
}

.Row1{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  justify-content: center;
}
.Row2{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  justify-content: center;
}
.Submit{
  padding: 10px;
  background-color: rgba(50, 158, 168, .8);
  z-index: 2;
}
h2{
  text-align: center;

}
}
.Desktop__DietPref{
  width: 400px;
  height: 500px;
}
h2{
  text-align: center;
}
.Submit{
  padding:15px;
  background-color: rgba(50, 158, 168, .8);

}
.Row1{
  display: flex;
  justify-content: space-around;

}
.Row2{
  display: flex;
  justify-content: space-around;

}
