body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.RecipeCard {
	text-align: center;
	width: 40%;
	/*margin: 0 30%;*/
	padding: 3% 0;
	background-color: #66b1d6;
	-webkit-box-shadow: -20px 17px 36px 0px rgba(173,173,173,0.52);
	-moz-box-shadow: -20px 17px 36px 0px rgba(173,173,173,0.52);
	box-shadow: -20px 17px 36px 0px rgba(173,173,173,0.52);
	margin: 2%;
  
}


.RecipeTitle {
	padding-bottom: 5%;
	font-weight: 500;
	font-size: 2.5rem;
}

.Ingredients li {
	list-style-type: none;
	margin-bottom: 2%;
}

.Ingredients {
	text-align: left;
	margin-left: 5%;
	margin-top: 5%;
	font-weight: 300;
}

.FlexContainer {
	display: flex;
	justify-content: center;
	justify-content: space-between;

}

.DietaryPref {

}

/*mobile view*/
@media only screen and (min-width: 320px) and (max-width: 480px) {
	.FlexContainer {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.RecipeCard {
	text-align: center;
	width: 100%;
	/*margin: 0 30%;*/
	padding: 3% 0;
	background-color: #66b1d6;
	-webkit-box-shadow: -20px 17px 36px 0px rgba(173,173,173,0.52);
	-moz-box-shadow: -20px 17px 36px 0px rgba(173,173,173,0.52);
	box-shadow: -20px 17px 36px 0px rgba(173,173,173,0.52);
	margin: 2%;
}
}

@media only screen and (min-width: 320px) {
	.StressForm {
text-align: center;
width: 75%;
margin: 0 auto;
padding: 5%;
background: hsla(230,40%,50%,1);
margin-top: 25%;
}
.StressForm {
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
.StressLevelIcon {
  display: inline-block;
  background: none;
  font-size: 50px;
  border: none;
}

@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}

.StressLevelIcon:hover {
	animation: bounce 1s;
}
}
.StressIcon {
  display: flex;
  justify-content: space-evenly;

}
/*ipad and tablet view*/
@media only screen and (min-width: 768px) and (max-width: 992px) {
	.FlexContainer {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.RecipeCard {
	text-align: center;
	width: 80%;
	/*margin: 0 30%;*/
	padding: 3% 0;
	background-color: #66b1d6;
	-webkit-box-shadow: -20px 17px 36px 0px rgba(173,173,173,0.52);
	-moz-box-shadow: -20px 17px 36px 0px rgba(173,173,173,0.52);
	box-shadow: -20px 17px 36px 0px rgba(173,173,173,0.52);
	margin: 2%;
}
}

.StressIcon {
	list-style-type: none;
}

.StressLevelIcon:hover {
	cursor: pointer;
}
